rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /laporan_kegiatan/{document=**} {
      allow read, write: if true;
    }
    match /notifikasi/{document=**} {
      allow read, write: if true;
    }
    match /kelompok_binaan/{document=**} {
      allow read, write: if true;
    }
  }
}
